.single-day {
    width: 90px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .tasks-number {
        position: absolute;
        bottom: 0;
        color: red;
    }
}